body {
  margin: 0;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  position: relative; /* Added position:relative to the body */
}

.container {
  text-align: center;
  padding: 20px;
}

/* Add this to your existing CSS or adjust as needed */
/* .notification-container {
  position: fixed;
  margin-top: 20px; 
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 999;
  display: flex;
  flex-direction: row;
} */

.notification-container {
  margin: 20px auto; /* Center the container horizontally and provide top/bottom margin */
  width: 70%; /* Set a specific width */
  max-width: 400px; /* Set a maximum width if needed */
  z-index: 999;
  display: flex;
  flex-direction: column; /* Change to column to stack notifications vertically */
  align-items: center; /* Center items horizontally */
}


.notification {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.success {
  background-color: #D4EDDA;
  color: #155724;
}

.error {
  background-color: #F8D7DA;
  color: #721C24;
}


.custom-btn {
  background-color: #38CFD9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #23424A;
}

h2 {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  font-size: 1.6rem;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid #ccc;
  transition: border 0.3s ease;
}

textarea:hover {
  border: 3px dashed #23424A;
}
