<!-- upload_document.html -->
{% extends "base.html" %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/show.css' %}">
    {% block title %}
      <title>Summary Text</title>
    {% endblock title %}
  </head>
  {% endblock head %}
  <body>
    {% block content %}
    <div class="container">
        <h2 class="center">Summary Text</h2>
        <form method="post" action="{% url 'main' %}">
          {% csrf_token %}
          <textarea name="sum_text" rows="10" readonly>{{ sum_text }}</textarea>
          <br>
          <button type="submit" class="custom-btn">Home</button>
        </form>
        <br>
    </div>
    {% endblock %}
  </body>
</html>
